@import url("fonts.css");
@import url("reset.css");


/* Typography */
/* ---------------------------------- */
body {
	font-family: "AvenirNext-Medium", sans-serif;
	font-size: 12px;
	line-height: 1.6;
}
h1, 
h2,
h3 {
	font-family: "noto_serifregular", Serif;
	letter-spacing: 1.6px;
}
h1 {
	font-size: 24px;
}
h2,
.h2 {
	margin-top: 6px;
	font-size: 18px;
	line-height: 25px;
}
h3,
.h3 {
	font-size: 15px;
	line-height: 21px;
}


/* Links */
/* ---------------------------------- */
a {
	color: #C24B18;
	text-decoration: none;
}
a:hover {
	color: #E06C3B;
	text-decoration: underline;
}


/* Layout */
/* ---------------------------------- */
html,
body {
	height: 100%;
}
body {
	background: #333333;
}


/* Grid */
/* ---------------------------------- */
section:not(.two-column) {
	padding: 16px;
}
.two-column {
	display: flex;
}
.two-column > div {
	flex: 1;
	padding: 16px;
}
.two-column > div:first-child {
	padding-right: 8px;
}
.two-column > div:last-child {
	padding-left: 8px;
}
@media (max-width: 500px) {
	.two-column {
		flex-direction: column;
	}
	.two-column > div:first-child {
		padding: 16px 16px 8px 16px;
	}
	.two-column > div:last-child {
		padding: 8px 16px 16px 16px;
	}
}


/* Header */
/* ---------------------------------- */
header {
	padding: 6px 12px;
	background: #AF1642;
	color: #FFFFFF;
}
header h1 {
	font-size: 18px;
}
header a {
	color: #F99368;
	text-decoration: none;
}
header a:hover {
	color: #E06C3B;
	text-decoration: underline;
}


/* Main */
/* ---------------------------------- */
main {
	background: #FFFFFF;
	color: #000000;
}


/* Footer */
/* ---------------------------------- */
footer {
	background: #333333;
	color: rgba(255,255,255,0.5);
}
footer a {
    text-decoration: none;
    color: rgba(255,255,255,0.8);	
}
footer a:hover {
    text-decoration: underline;
}


/* Curriculum */
/* ---------------------------------- */
.curriculum {
	display: flex;
	margin-top: 12px;
}
.curriculum .unit {
	width: 25%;
	padding: 0 12px;
}
.curriculum .unit:first-child {
	padding-left: 0;
}
.curriculum .unit:last-child {
	padding-right: 0;
}
.curriculum .lessons {
	margin-top: 3px;
}
@media (max-width: 500px) {
	.curriculum {
		flex-direction: column;
	}
	.curriculum .unit {
		width: 100%;
		padding: 0;
	}
}


/* Footer - team */
/* ---------------------------------- */
.team li {
	margin-left: 24px;
}


/* Student home pages */
/* ---------------------------------- */
.student-pages {
	margin: 60px;
	display: flex;
	flex-wrap: wrap;
}
.student-pages > div {
	flex-basis: 50%;
	padding: 12px;
	height: 330px;
}
@media (max-width: 500px) {
	.student-pages {
		margin: 9px 30px 9px 0;
	}
	.student-pages > div {
		flex-basis: 100%;
		height: 360px;
		padding: 9px 0;
	}
}
.student-pages iframe {
	background: #E05D82;
	border: 1px solid #246D5F;
	transform: scale(0.5);
	transform-origin: 0 0;
	width: 200%;
	height: 200%;
}


/* Homework */
/* ---------------------------------- */
.homework {
	width: 100%;
	margin-top: 12px;
}
.homework tr:nth-child(even) {
	background: #444444;
}
.homework th,
.homework td {
	padding: 4px 16px 4px 12px;
	text-align: center;
}
.homework tr td:first-child {
	text-align: left;
}


/* Labs */
/* ---------------------------------- */
.labs {
	padding: 30px;
}
.labs table {
	font-size: 14px;
	width: 100%;
}
.labs table thead tr {
	border-bottom: 1px solid #DEDEDE;
}
.labs tr:nth-child(even) {
	background: #EDEDED;
}
.labs table th,
.labs table td {
	padding: 3px 12px 3px 6px;
}

