body {
	background: #81A7B8;
	color: #1E5268;
	margin: 50px auto;
	width: 320px;
	font-size: 18px;
	font-family: "Menlo-Bold", monospace;	
}
h1 {
	text-align: center;
	margin: 50px auto 0;
}
p {
	margin: -16px auto 50px;
	padding-left: 9px;
	color: #548397;
	text-align: center;
	font-size: 36px;
	font-family: "BrushScriptMT", fantasy;
	transform: rotate(-7deg);
}

.the-console-log h2 {
	font-family: monospace;
	letter-spacing: -2px;
	border-bottom: 1px solid #548397;	
}
.the-console-log li {
	margin-top: 10px;
}
